html {
    --main-bg-color-1: #FFFFFF;
    --main-bg-color-2: #000000;
    --rotation-degree: 30deg;
    padding: 0;
    height: 100%;
}

.bodyBackground {
    background-color: #000000;
    padding: 0;
    z-index: 0;
}

.background {
    width: calc(100% + 50%);
    height: calc(100% + 50%);
    transform: rotate(var(--rotation-degree)) scale(5);
    position: relative;
    background: radial-gradient(ellipse at top, var(--main-bg-color-1), transparent),
            radial-gradient(ellipse at bottom, var(--main-bg-color-2), transparent);
    z-index: 1;
}